/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  color: #003399;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    color: #A31F34;}
  

h4 {
  font-family:  sans-serif;
  font-variant: small-caps;
  font-weight: 300;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  font-size:23px;

}
.container img
{
 width: 250px;
 height: 150px;
 object-fit:scale-down;
 text-align: center;
}

.education img
{
 width: 250px;
 height: 150px;
 object-fit:scale-down;
 text-align: center;
}

.centerImage
{
 text-align:center;
 display:block;
 margin-left: auto;
 margin-right: auto;
}

.top-gif {
 /*text-align:center;*/
 display:block;
 margin-left: auto;
 margin-right: auto;
 width: 600px !important;
 height: 250px !important; 
 max-width: 60% !important;
}


@media (max-width: 1300px) {
  .floating_text {
    display: none;
  }

  .floating_img {
    display: none;
  }
}

.floating_img img {
/*  width: 200px;
  height: 200px;*/
  width: 8vw; 
  max-width: 100px;
  height: 8vw; 
  max-height: 100px;
  position: fixed; 
  top: 500px; 
  left: 40px
}
.floating_text {
  font-size: 15px;
  position: fixed; 
  top: 500px; 
  left: 30px
}




.education {
  text-align: center;
}
.school{
  padding-bottom: 15px;
}
.school-fig {
  /*max-width: 36%;*/
  height: 200;
  width: 200;
  padding: 0.5em;
}

@media (max-width: 767px) {
  .school-fig {
    max-width: 48%;
  }
}
/*.profile_img:hover .overlay {
  opacity: 1;
  display: inline;
}
*/




















